# Problem -2

Load data from a text file, with missing values handled as specified.

 * Use of GenFromTxt in Numpy
 ** Delimited with Fixed length Column
 ** Delimited with mixed Dtype
 ** Delimited with Fixed length Column and datatypes
 
 * Read the GSN file with all the weather details and parse the file
 * Extract details

In [1]:
import io 
import numpy as np

In [22]:
s = io.StringIO("KonicaPatait03231988")
data = np.genfromtxt(s, 
                   dtype = 'S6,S6,i8,i8,i8',
                   delimiter=[6,6,2,2,4],
                   names=['FirstName','LastName',"MonthInDOB","DateINDOB","YearINDOB"])
print(data)

(b'Konica', b'Patait', 3, 23, 1988)

In [29]:
s = io.StringIO('1988,23,03,Konica,Patait')
data = np.genfromtxt(s,
                     dtype = [('YearINDOB',"i8"), ('DateINDOB',"i8"), ('MonthInDOB',"i8"), ('FirstName',"S6"), ('LastName',"S6")],
                    delimiter=",")
print(data)

(1988, 23, 3, b'Konica', b'Patait')

In [30]:
s = io.StringIO(u"112.3abcde")
data = np.genfromtxt(s,dtype="i8,f8,S5", names=['intvar','floatvar','stringvar'], delimiter=[1,4,5])
data

array((1, 12.3, b'abcde'),
      dtype=[('intvar', '<i8'), ('floatvar', '<f8'), ('stringvar', 'S5')])

In [32]:
open('USW00014922.dly','r').readlines()[:10]

['USW00014922193804TMAX-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999     106  0  189  0  172  0  217  0  256  0  194  0  117  0  133  0  228  0  217  0  172  0  144  0   89  0  144  0   94  0  111  0  156  0  267  0  256  0  156  0  144  0  222  0-9999   \n',
 'USW00014922193804TMIN-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999     -17  0   11  0   61  0   28  0   78  0   78  0   72  0  106  0  106  0   72  0   11  0   -6  0   17  0   -6  0   39  0   56  0   44  0  117  0  156  0   39  0   17  0   44  0-9999   \n',
 'USW00014922193804PRCP-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999       0  0    0  0    0  0    0  0    0  0  267  0   64  0  193  0   58  0    0  0    0T 0    3  0   25  0    0  0  119  0   10  0    0T 0    0  0   36  0   56  0    0  0    0  0-9999   \n',
 'USW00014922193804SNOW-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999       0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0-9999   \n',
 'USW00014922193804SNWD-9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999       0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0-9999   \n',
 'USW00014922193805TMAX  278  0  294  0  278  0  194  0  128  0   72  0   61  0   56  0  167  0  178  0  150  0  183  0  156  0  178  0  189  0  217  0  133  0  139  0  117  0  172  0  206  0  222  0  150  0  144  0  194  0  239  0  189  0  244  0  278  0  294  0  244  0\n',
 'USW00014922193805TMIN  144  0  167  0  144  0  111  0   22  0   22  0   17  0   17  0   50  0   61  0   28  0   28  0   72  0   72  0   78  0   61  0  111  0  100  0   89  0   78  0  100  0   89  0   83  0   44  0   83  0  117  0  133  0  150  0  144  0  172  0  178  0\n',
 'USW00014922193805PRCP    0T 0    3  0   18  0  221  0  246  0    3  0   99  0  307  0   15  0    5  0    0  0    0  0   56  0   10  0    3  0    3  0  297  0  254  0   79  0    0T 0    0  0    0T 0    0  0    3  0    0  0   33  0   76  0    0T 0    0T 0    0  0   41  0\n',
 'USW00014922193805SNOW    0  0    0  0    0  0    0  0    0  0    0  0    0T 0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n',
 'USW00014922193805SNWD    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0    0  0\n']

In [35]:
open('readme.txt','r').readlines()[98:121]

['------------------------------\n',
 'Variable   Columns   Type\n',
 '------------------------------\n',
 'ID            1-11   Character\n',
 'YEAR         12-15   Integer\n',
 'MONTH        16-17   Integer\n',
 'ELEMENT      18-21   Character\n',
 'VALUE1       22-26   Integer\n',
 'MFLAG1       27-27   Character\n',
 'QFLAG1       28-28   Character\n',
 'SFLAG1       29-29   Character\n',
 'VALUE2       30-34   Integer\n',
 'MFLAG2       35-35   Character\n',
 'QFLAG2       36-36   Character\n',
 'SFLAG2       37-37   Character\n',
 '  .           .          .\n',
 '  .           .          .\n',
 '  .           .          .\n',
 'VALUE31    262-266   Integer\n',
 'MFLAG31    267-267   Character\n',
 'QFLAG31    268-268   Character\n',
 'SFLAG31    269-269   Character\n',
 '------------------------------\n']

In [57]:
def parsefile(file):
    return np.genfromtxt(file,
                 delimiter = dly_delimiter,
                 usecols = dly_columns,
                 dtype = dly_dtype,
                 names = dly_names)

dly_delimiter = [11,4,2,4] + 31 * [5,1,1,1]
dly_columns = [1,2,3] + 31 * [4*i for i in range(1,32)]
dly_dtype = [np.int32, np.int32, (np.str_,4)] + [np.int32]*31
dly_names = ['year', 'month', 'obs'] + [str(day) for day in range (1,32)]

In [60]:
data = parsefile('USW00014922.dly')
print(data)

[(1938, 4, 'TMAX', -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, 106,   189,   172,   217,   256,   194,   117,   133,   228,   217,   172,   144,    89,   144,  94,   111,   156,   267,   256,   156,   144,   222, -9999)
 (1938, 4, 'TMIN', -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -17,    11,    61,    28,    78,    78,    72,   106,   106,    72,    11,    -6,    17,    -6,  39,    56,    44,   117,   156,    39,    17,    44, -9999)
 (1938, 4, 'PRCP', -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,   0,     0,     0,     0,     0,   267,    64,   193,    58,     0,     0,     3,    25,     0, 119,    10,     0,     0,    36,    56,     0,     0, -9999)
 ...
 (2015, 9, 'WT01',     1,     1,     1,     1,     1,     1, -9999,     1,   1,     1, -9999, -9999, -9999, -9999, -9999, -9999,     1, -9999, -9999, -9999, -9999,     1,   1,     1,     1,     1, -9999, -9999, -9999, -9999, -9999)
 (2015, 9, 'WT03', -9999,     1, -9999, -9999, -9999,     1, -9999,     1,   1, -9999, -9999, -9999, -9999,     1, -9999,     1,     1, -9999, -9999,     1, -9999, -9999,   1, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999)
 (2015, 9, 'WT08',     1, -9999,     1, -9999,     1, -9999, -9999, -9999,   1, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999, -9999,     1,   1,     1,     1,     1, -9999, -9999, -9999, -9999, -9999)]

In [96]:
def transformdata(record):
    startDate = '{}-{:02}'.format(record[0],record[1])
    startDateAsDate = np.datetime64(startDate)
    endDateAsDate = startDateAsDate + np.timedelta64(1,'M')
    allDates = np.arange(startDateAsDate, endDateAsDate, np.timedelta64(1,'D'))
    rows = [(date, record[str(i+1)]) for i, date in enumerate(allDates)]
    return np.array(rows, dtype=[('date','M8[D]'), ('value','d')])
    
transformdata(data[0])

array([('1938-04-01', -9999.), ('1938-04-02', -9999.),
       ('1938-04-03', -9999.), ('1938-04-04', -9999.),
       ('1938-04-05', -9999.), ('1938-04-06', -9999.),
       ('1938-04-07', -9999.), ('1938-04-08', -9999.),
       ('1938-04-09',   106.), ('1938-04-10',   189.),
       ('1938-04-11',   172.), ('1938-04-12',   217.),
       ('1938-04-13',   256.), ('1938-04-14',   194.),
       ('1938-04-15',   117.), ('1938-04-16',   133.),
       ('1938-04-17',   228.), ('1938-04-18',   217.),
       ('1938-04-19',   172.), ('1938-04-20',   144.),
       ('1938-04-21',    89.), ('1938-04-22',   144.),
       ('1938-04-23',    94.), ('1938-04-24',   111.),
       ('1938-04-25',   156.), ('1938-04-26',   267.),
       ('1938-04-27',   256.), ('1938-04-28',   156.),
       ('1938-04-29',   144.), ('1938-04-30',   222.)],
      dtype=[('date', '<M8[D]'), ('value', '<f8')])